body {
       background-image: url("BG1.png");
       background-repeat: repeat;
}


h1   {
       color: steelblue;
       font-family: cursive;
       font-size: 60px;
}

h2   {
       color: darkolivegreen;
       font-family:cursive;
       font-size: 32px;
}
h3   {
       color: steelblue;
       font-family:cursive;
       font-size: 25px;
}

p    {
       color: darkcyan;
       font-family:cursive;
       font-size: 20px;
}

h4   {
       color: steelblue;
       font-family:cursive;
       font-size: 20px;
}

a    {
       color: darkcyan;
       font-family:cursive;
       font-size: 20px;
}

#Head{
       border: 5px solid #FFFFFF;
       background-image: url("BG2.png");
       padding-right: 50px;
       padding-left:  50px;
       height:400px;
}

#Right{
       border: 5px solid #FFFFFF;
       background-image: url("BG2.png");
       width:450px;
       height:600px;
       text-align:center;
       float:Right;
}


