body {
       background-image: url("BG3.png");
       background-repeat: repeat;
}


h1   {
       color: steelblue;
       font-family: cursive;
       font-size: 60px;
}

h2   {
       color: steelblue;
       font-family:cursive;
       font-size: 32px;
}
h3   {
       color: #2a86a4;
       font-family:cursive;
       font-size: 25px;
}

p    {
       color: #475e5c;
       font-family:cursive;
       font-size: 20px;
}

h4   {
       color: steelblue;
       font-family:cursive;
       font-size: 20px;
}

a    {
       color: #475e5c;
       font-family:cursive;
       font-size: 20px;
}

.button {
       background-color: #eddfab; 
       border: 5px dashed #FFFFFF;
       border-radius: 2px;
       color: steelblue;
       padding: 15px 75px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-family:cursive;
       font-size: 25px;
}

#Head{
       border: 5px solid #FFFFFF;
       background-image: url("BGcat.JPG");
       background-repeat: no-repeat;
       background-size: cover;
       padding-right: 50px;
       padding-left:  50px;
}

#Right{
       border: 5px solid #FFFFFF;
       background-image: url("BG4.png");
       width:450px;
       height:700px;
       text-align:center;
       float:Right;
}


