body {
       background-image: url("BG1.png");
       background-repeat: repeat;
}


h1   {
       color: midnightblue;
}

h2   {
       color: midnightblue;
}
h3   {
       color: steelblue;
}

p    {
       color: navy;
}

h4   {
       color: darkcyan;
}

#Head{
       border: 5px solid #FFFFFF;
       background-image: url("BG2.png");
       padding-top: 50px;
       padding-right: 50px;
       padding-bottom: 50px;
       padding-left:  50px;
}

#Right{
       border: 5px solid #FFFFFF;
       background-image: url("BG2.png");
       width:450px;
       height:5000px;
       text-align:center;
       float:Right;
}


