body {
       background-image: url("BGcatpatt.png");
       background-repeat: repeat;
}


h1   {
       color: steelblue;
       font-family: cursive;
       font-size: 60px;
}

h2   {
       color: steelblue;
       font-family:cursive;
       font-size: 32px;
}
h3   {
       color: #2a86a4;
       font-family:cursive;
       font-size: 25px;
}

p    {
       color: #5d704d;
       font-family:cursive;
       font-size: 20px;
}

h4   {
       color: steelblue;
       font-family:cursive;
       font-size: 20px;
}

h5   {
       color: #5d704d;
       font-family:cursive;
       font-size: 20px;
}

a    {
       color: #5d704d;
       font-family:cursive;
       font-size: 20px;
       text-decoration: none;
}

.button {
       overflow: hidden;
       background-color: #eff0b1; 
}

.button a {
       float:left;
       border: 5px dashed #FFFFFF;
       border-radius: 2px;
       color: steelblue;
       padding: 15px 75px;
       text-align: center;
       display: block;
       font-family:cursive;
       font-size: 25px;
       transition-duration: 0.4s;
       text-decoration: none;
}

.button a:hover {
       background-color: #bad1ce; 
       /*border: 8px dashed #FFFFFF;
       border-radius: 2px;*/
       color: steelblue;
       /*padding: 15px 75px;
       text-align: center;
       text-decoration: none;
       display: block;
       font-family:cursive;
       font-size: 25px;*/
}

.header{
       border: 5px solid #FFFFFF;
       background-image: url("BGcat.JPG");
       background-repeat: no-repeat;
       background-size: cover;
       text-align: center;
       padding: 80px;
       /*padding-right: 50px;
       padding-left:  50px;*/
}

#Right{
       border: 5px solid #FFFFFF;
       background-image: url("BGcatbox.png");
       width:450px;
       height:700px;
       text-align:center;
       float:Right;
}


